<span id="ProductGallery" class="Anchor"></span>
                <div class="Product__ActionList hidden-lap-and-up">
                    <div class="Product__ActionItem hidden-lap-and-up">
                        <button class="RoundButton RoundButton--small RoundButton--flat"
                            data-action="open-product-zoom">
                            <svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
                                <g stroke="currentColor" fill="none" fill-rule="evenodd"
                                    stroke-linecap="square">
                                    <path d="M8,1 L8,15"></path>
                                    <path d="M1,8 L15,8"></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="Product__Slideshow Product__Slideshow--zoomable Carousel" data-flickity-config='{
                        "prevNextButtons": false,
                        "pageDots": true,
                        "adaptiveHeight": true,
                        "watchCSS": true,
                        "dragThreshold": 8,
                        "initialIndex": 0,
                        "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
                      }'>
                    @php
                        $index = 1;
                        $image_size = getimagesize(getImage($product->image, 'products/' . $product->product_code));
                        $ratio_main_image = $image_size[0] / $image_size[1];
                    @endphp
                    <div id="image-{{ $product->product_code }}-0" class="Product__SlideItem Product__SlideItem--image Carousel__Cell"
                        data-image-position-ignoring-video="0" data-image-position="0" data-image-id="image-{{ $product->product_code }}-0">
                        <div class="AspectRatio AspectRatio--withFallback"
                            style="padding-bottom: 100%; --aspect-ratio: {{ $ratio_main_image }};">
                            <img class="Image--lazyLoad Image--fadeIn"
                                data-src="{{ getImage($product->image, 'products/' . $product->product_code) }}"
                                data-widths="[200,400,600,700,800,900,1000,1200,1400,1600]" data-sizes="auto"
                                data-expand="-100" alt='{{ $product->product_name }}' data-max-width="2000"
                                data-max-height="2000"
                                data-original-src="{{ getImageGallery($product->image, 'products/' . $product->product_code) }}" />

                            <span class="Image__Loader"></span>
                        </div>
                    </div>
                    @foreach ($product->images as $item)
                        @if ($product->image != $item->image_url)
                            <div id="image-{{ $product->product_code }}-{{ $index}}"
                                class="Product__SlideItem Product__SlideItem--image Carousel__Cell"
                                data-image-position-ignoring-video="{{ $index }}" data-image-position="{{ $index }}"
                                data-image-id="image-{{ $product->product_code }}-{{ $index }}">
                                @php
                                    $image_size = getimagesize(getImage($item->image_url, 'products/' . $product->product_code));
                                    $ratio = $image_size[0] / $image_size[1];
                                @endphp
                                <div class="AspectRatio AspectRatio--withFallback"
                                    style="padding-bottom: 100%; --aspect-ratio: {{ $ratio }};">
                                    <img class="Image--lazyLoad Image--fadeIn"
                                        data-src="{{ getImage($item->image_url, 'products/' . $product->product_code) }}"
                                        data-widths="[200,400,600,700,800,900,1000,1200,1400,1600]"
                                        data-sizes="auto" data-expand="-100"
                                        alt='{{ $product->product_name }}' data-max-width="2000"
                                        data-max-height="2000"
                                        data-original-src="{{ getImageGallery($item->image_url, 'products/' . $product->product_code) }}" />

                                    <span class="Image__Loader"></span>
                                </div>
                            </div>
                            @php
                                $index++;
                            @endphp
                        @endif
                    @endforeach
                </div>
                <div class="Product__SlideshowNav Product__SlideshowNav--thumbnails">
                    <div class="Product__SlideshowNavScroller">
                        @php
                            $index = 1;
                        @endphp
                        <span data-index="0" data-image-id="0"
                            class="Product__SlideshowNavImage AspectRatio is-selected"
                            style="--aspect-ratio: {{ $ratio_main_image }};">
                            <img src="{{ getImage($product->image, 'products/' . $product->product_code) }}" />
                        </span>
                        @foreach ($product->images as $key => $item)
                            @if ($product->image != $item->image_url)
                                @php
                                    $image_size = getimagesize(getImage($item->image_url, 'products/' . $product->product_code));
                                    $ratio_image = $image_size[0] / $image_size[1];
                                @endphp
                                <span data-index="{{ $index }}" data-image-id="image-{{ $product->product_code }}-{{ $index }}"
                                    class="Product__SlideshowNavImage AspectRatio"
                                    style="--aspect-ratio: {{ $ratio_image }};">
                                    <img
                                        src="{{ getImage($item->image_url, 'products/' . $product->product_code) }}" />
                                </span>
                                @php
                                    $index++;
                                @endphp
                            @endif
                        @endforeach
                    </div>
                </div>
