.pt-45 {
    padding-top: 35px
}

.bc-sf-filter-clear {
    margin-right: 20px !important
}

.ProductItem__LabelList .Sale,
.ProductItem__LabelList .Sold.Out {
    background: red;
    color: #fff;
    width: 100px
}

.brand-promise {
    width: 100%;
    max-width: 480px;
    display: block;
    margin: auto
}

.img-paymentlist-custom {
    max-width: 420px;
    display: block;
    width: 100%
}

#maptab #powered_by {
    display: none !important
}

.Image--contrast:after {
    background-image: unset !important
}

.Header__CartDot {
    background-color: #00b5ff;
    color: #efefef;
    width: 20px;
    height: 20px;
    left: 15px;
    right: unset;
    top: -9px;
    padding-top: 3px;
    padding-left: 6px
}

#bc-sf-filter-bottom-pagination ul.pagination-custom {
    text-align: center
}

#bc-sf-filter-bottom-pagination ul.pagination-custom li {
    display: inline-block !important;
    margin: 15px 5px
}

.banner-custom .\31\/2--phone {
    margin-top: 24px
}

.text-center {
    text-align: center
}

#sidebar-cart.Drawer--fromRight {
    padding-top: 30px
}

.SizeSwatch.sold-out:after {
    content: "(Sold Out)"
}

@media (max-width: 560px) {
    .pt-45 {
        padding-top: 45px
    }

    #collection-filter-drawer.Drawer--fromRight,
    #sidebar-menu.Drawer--fromLeft {
        padding-top: 25px
    }
}

.table tr {
    border-top: none !important;
}

.pt-45 {
    padding-top: 0;
}

.CollectionToolbar {
    /*position: -webkit-sticky;*/
    position: unset;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    box-shadow: 1px 1px #e7e7e7, -1px -1px #e7e7e7;
    z-index: 2;
}

.shopify-section--header {
    position: fixed !important;
    width: 100%;
    top: 40px;
    left: 0;
    z-index: 5;
}

#shopify-section-announcement {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

#main {
    margin-top: 135px;
}

#section-slideshow .Heading,
#section-slideshow .flickity-page-dots {
    color: #d0cfcf;
}

#section-slideshow .Button {
    color: #363636;
    border-color: #ffffff;
}

#section-slideshow .Button::before {
    background-color: #000000;
}

@media (-moz-touch-enabled: 0),
(hover: hover) {
    #section-slideshow .Button:hover {
        color: #ffffff;
    }
}

@media only screen and (max-width: 1007px) {
    .Slideshow__ImageContainer {
        --aspect-ratio: 1 !important;
    }

    .CollectionToolbar {
        display: block !important;
    }

    .Search__SearchBar {
        height: 50px;
        margin-left: unset !important;
        padding: 5px;
        border-top: outset;
    }
}

.Drawer__Main {
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.CollectionInner__Sidebar {
    width: 300px !important;
}

.CollectionToolbar {
    /* position: -webkit-sticky;
    position: sticky;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    box-shadow: 1px 1px #e7e7e7, -1px -1px #e7e7e7;
    z-index: 2;
}

#filter_button {
    display: none !important;
}

@media only screen and (max-width: 1007px) {
    #filter_button {
        display: block !important;
    }
}

.bc-sf-search-suggestion li {
    list-style: unset !important;
}

.bc-sf-search-suggestion-product-title {
    margin-top: 30px !important;
}

@media screen and (max-width: 640px) {
    /*
        ** MOBILE MODE
    */

}

@media screen and (max-width: 1007px) and (min-width: 640px){
    /*
        ** TAB MODE
    */

}
