.grid-flow {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.Header__Wrapper {
    background-color: black;
}

.Header__FlexItem {
    color: white;
}

.shopify-section--header {
    top: unset !important;
    position: relative !important;
}

.main-heading-text{
    color: white !important;

}

#main {
    margin-top: unset !important;
}

.Search__Form {
    margin-bottom: unset;
}
/*
.DropdownMenu{
    background: white;
} */
/* Customize the label (the Check__Box__Container) */
.Check__Box__Container {
    display: block;
    position: relative;
    padding-left: 7px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
}

.Check__Box__Container input {
    /* position: absolute; */
    /* opacity: 0; */
    cursor: pointer;
    height: 20px;
    width: 34px;
    vertical-align: middle;
}

.Check__Box__Container label {
    vertical-align: middle;
}
