.grid-flow {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.Header__Wrapper {
    background-color: black;
}

.Header__FlexItem {
    color: white;
}

.shopify-section--header {
    top: unset !important;
    position: relative !important;
}

.main-heading-text{
    color: white !important;

}

#main {
    margin-top: unset !important;
}

.Search__Form {
    margin-bottom: unset;
}
/*
.DropdownMenu{
    background: white;
} */
/* Customize the label (the Check__Box__Container) */
.Check__Box__Container {
    display: block;
    position: relative;
    padding-left: 7px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
}

.Check__Box__Container input {
    /* position: absolute; */
    /* opacity: 0; */
    cursor: pointer;
    height: 20px;
    width: 34px;
    vertical-align: middle;
}

.Check__Box__Container label {
    vertical-align: middle;
}

.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.page-item {
    padding: 0 5px;
    font-size: large;
    align-self: self-end;
}

li.page-item.active {
    font-size: 25px;
    color: #d2d2d2;
}

.CollectionToolbar--top {
    top: calc((var(--header-height) * var(--use-sticky-header, 0)) - 125px);
}

.Popover {
    z-index: 11 !important;
}

@media screen and (min-width: 641px){
    .Footer__Social {
        margin-top: 14px;
    }

    .Search__Close {
        font-size: 22px;
    }
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Linklist__Item>.Link, .Linklist__Item>.shopify-payment-button__more-options {
    display: block;
    width: 100%;
    text-align: inherit;
    font-size: 12px;
}

.float {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}
.fa-2x {
    font-size: 4.5em !important;
}

.bc-sf-search-suggestion-header {
    box-shadow: 0 1px #0000000d;
    text-transform: uppercase;
    background: #f5f5f5;
    text-align: left;
    padding: 5px 10px 4px;
    color: #a0a0a0;
    margin: 0;
    font-size: 16px;
}

.bc-sf-search-suggestion-header-view-all>a {
    box-shadow: 0 1px #0000000d;
    text-transform: uppercase;
    background: #f5f5f5;
    text-align: left;
    padding: 5px 10px 4px;
    color: #a0a0a0;
    margin: 0;
    font-size: 16px;
}
