$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit - 4;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*,
*:before,
*:after {
    box-sizing: border-box;
}

.RelatedProductsWrapper {
    margin: 20px 20px;
    position: relative;
    /* display: flex;
    align-items: center; */
}

.RelatedProductsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.ViewAllBtn {
    font-size: 16px;
    color: #000000CC;
    text-decoration: none;
    font-weight: 400;
}

.RelatedProductsSlider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  gap: 3.5rem;
  padding-bottom: 10px;
  position: relative;
  margin-left: 15px;
}

.RelatedProductsSlider > .ProductCard {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 200px;
}

.RelatedProductTitle {
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
}

.RelatedProductsSlider::-webkit-scrollbar {
    height: 6px;
}
.RelatedProductsSlider::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

.SizeLabel {
    display: flex;
    justify-content: space-between;
}

.SelectSizeLabel {
    font-weight: bold;
}

.SizeChartLabel {
    text-decoration: underline;
}

.ProductCard {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 215px; /* Adjust for your layout */
    height: 343px; /* Adjust for your layout */
    /* min-width: 200px;
    flex-shrink: 0;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    background: #fff; */
}

.ProductImageWrapper {
    width: 100%;
    aspect-ratio: 1 / 1; /* keep square, or adjust as needed */
    overflow: hidden;
    position: relative;
}

.CartIconBtn {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.CartIconBtn:hover {
  background: #f2f2f2;
}

.CartIconBtn svg {
  display: block;
  width: 20px;
  height: 20px;
}

.ProductImageWrapper img {
     width: 100%;
    height: 100%;
    object-fit: cover; /* makes image fill without distortion */
    display: block;
}

.ProductInfo {
    margin-top: 5px;
    margin-left: 10px;
}

.ProductInfo h3,
.ProductInfo h4,
.ProductInfo p {
    margin: 0; /* removes default gap */
}

.ProductName {
    font-size: 16px;
    font-weight: 400;
}

.ProductPrice {
    font-size: 14px;
    margin-top: 5px;
}

.PriceDiscounted {
    font-weight: bolder;
    font-size: 20px;
    color: #000;
}
.PriceOriginal {
    font-weight: 500;
    font-size: 16px;
    color: #EA501F;
}
.PriceOff {
    font-weight: 400;
    font-size: 12px;
    color: #EA501F;
    margin-left: 5px;
}
.PriceNormal {
    font-weight: bolder;
    font-size: 20px;
    color: #000;
}

.Button--cart {
    background-color: #EA501F;
    color: white;
    border-radius: 100px;
}

.Button--shop {
    border-radius: 100px;
    background-color: #000;
    color: white;
}

/* .Product__SlideshowWrapper {
    display: flex;
    gap: 1px;
    align-items: flex-start;
}

.Product__Slideshow {
  flex: 1;
  max-width: 600px;
} */

/* .ProductSlideshowNavScroller {
    display: flex;
    flex-direction: column;
    gap: 8px;
} */
.Product__Gallery img,
.Product__SlideshowNavImage img {
  border-radius: 10px;
}

.Arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 40px;
  height: 40px;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
}

.arrow {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.left {
  left: 0px;
  top: 170px;
}

.arrow.right {
  right: 0px;
  top: 170px;
}

.arrow::before {
  content: '‹'; /* left arrow symbol */
  color: #fff;
  font-size: 20px;
}

.arrow.right::before {
  content: '›'; /* right arrow symbol */
}


    .Button--selected {
        color: black;
    }

    .Button--selected::before {
        background-color: white !important;
    }

    .size-select,
    .size-select::before,
    .size-select::after {
        box-sizing: border-box;
    }

    .size-select {
        min-width: 15ch;
        max-width: 30ch;
        border: 1px solid var(--select-border);
        padding: 0.25em 0.5em;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
        line-height: 1.1;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 254, 254);
    }

    .size-button {
        padding: 0 0 0 5px;
    }

    select:focus + .focus {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 2px solid var(--select-focus);
        border-radius: inherit;
    }

    .donate-now{
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 0;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .donate-now ul {
        margin: 0 0 0 0;
        padding: 0;
    }

    .donate-now li {
        float: left;
        margin: 0 5px 5px 0;
        /* min-width: 120px;*/
        width: calc((100% / 3) - 5px);
        height: 40px;
        position: relative;
        cursor: pointer;
        list-style: none;
    }

    .donate-now label,
    .donate-now input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .donate-now input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
        height: 40px;
        width: 100px;
        cursor: pointer;
    }

    .donate-now input[type="radio"]:checked+label,
    .checked+label {
        background: #ffffff;
        border: 1px solid #999999;
    }

    .donate-now input[type="radio"]:hover+label,
    .hover+label {
        background: #ffffff;
        border: 1px solid #999999;
        background: #e0dddd;
    }

    .donate-now label {
        padding: 5px;
        /* border: 1px solid #000000; */
        border: 1px solid #000000;
        cursor: pointer;
        z-index: 90;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #f1f1f1ff;
    }

    .donate-now label:hover {
        background: #ffffff;
        border: 1px solid #999999;
    }

    /* Media query for tablets */
    @media screen and (max-width: 768px) {
        .arrow {
            display: none;
        }

        .donate-now li {
            width: calc((100% / 2) - 5px);
        }

        .size-select {
            padding: 0.25em 0.5em;
        }
    }

    /* Media query for smartphones */
    @media screen and (max-width: 480px) {
        .arrow {
            display: none;
        }

        .donate-now li {

            width: calc((100% / 2) - 5px);
        }

        .size-select {
            padding: 0.25em 0.5em;
        }
    }

        .gallery {
            /* display: inline-block;
            position: relative; */
            display: flex;
            flex-direction: row;
            row-gap: 16px;
            column-gap: 16px;
            align-content: center;
            position: sticky;
            /* top: 40px; */
            padding-left: 20px;
            margin-left: 8px;
            max-height: 60vh;
            min-height: 600px;
            /* height: calc(42vh - 100px); */
            /* overflow-x: auto;
            overflow-y: hidden; */
            width: 100%;
        }

        .main {
            min-height: 42vh;
        }

        .main img{
            /* border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px; */
            overflow-x: hidden;
            overflow-y: hidden;
            position: relative;
            -webkit-box-flex: 1;
            flex-grow: 1;
            object-fit: contain;
            max-height: 80vh;
            min-height: 600px;
        }

        .thumbnails {
            display: flex;
            position: relative;
            flex-direction: column;
            -webkit-box-flex: 1;
            flex-grow: 1;
            column-gap: 10px;
            width: 142px;
            height: 650px;
            /* max-height: 80vh; */
            overflow-y: scroll;
        }

        .thumbnails < .main {
            height: 62vh;
            min-height: 62vh;
        }

        .item {
            align-self: center;
        }

        .thumbnails .item img {
            position: relative;
            width: 80px;
            height: 80px;
            max-width: 80px;
            max-height: 80px;
            cursor: pointer;
            padding: 5px 0 5px 0;
            /* border-radius: 8px 8px 8px 8px; */
            object-fit: cover;
            /* filter: grayscale(100%); */
            transition: filter 250ms ease;

        }

        .thumbnails::-webkit-scrollbar {
            display: none;
        }

        .thumbnails .item img:is(:hover, :focus) {
            filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
        }

        @media (max-width: 960px) {
            .gallery {
                display: none;
            }

            .mobile-gallery {
                display: block !important;
            }
        }

        @media (min-width: 1330px) {
            /* .gallery{
                padding-top: 65px;
            } */
            .main img{
                /* min-height: 80vh; */
                /* min-width: 80vh;
                max-width: 80vh; */
            }
        }

        @media (max-width: 1330px) and (min-width: 1007px) {
            .main img{
                /* object-fit: cover; */
                /* min-height: 80vh; */
                min-width: auto !important;
            }

            .main:hover{
                flex-grow: 4;
                overflow-y: auto;
            }

            .main:hover .main-image {
                /* min-height: 80vh;
                max-height: 80vh; */
                width: auto;
                position: absolute;
                bottom: 0;
                right: 0;
            }

            .thumbnails {
                min-width: 142px;
                width: 18vh;
                max-width: 18vh;
            }
        }

        @media (max-width: 1007px) {
            .gallery {
                align-self: center;
                justify-content: center;
                padding-left: unset;
                /* padding-top: 65px; */
            }

            .main {
                align-self: center;
                justify-content: center;
            }

            .main img{
                /* object-fit: cover; */
                min-height: 80vh;
                min-width: auto !important;
            }

            .thumbnails {
                min-width: 90px;
                width: 18vh;
                max-width: 18vh;
            }
        }

        @media {
            #main {
                padding: unset !important;
            }
        }

.hidden {
  display: none !important;
}


.ProductSlideshowWrapper {
  display: flex;
  /* width: 600px; */
  align-items: center;
  align-items: flex-start; /* thumbnails align to top of main image */
  gap: 1rem; /* spacing between thumbnails and main image */
}

.ProductSlideshowNav {
  flex: 0 0 100px; /* fixed width for thumbnail column */
}

.ProductSlideshowNavScroller {
  display: flex;
  flex-direction: column; /* stack thumbnails vertically */
  gap: 0.5rem;
}

.ProductSlideshow {
  flex: 1; /* main image takes remaining space */
  max-width: 600px; /* optional: limit main image width */
}

.PriceWrapper {
    display: flex;
    gap: 10px;
}


.table-container {
    /* max-width: 1000px; */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width:100%;
    border:1px solid $color-form-highlight;
    overflow-x: auto;
    white-space: inherit !important;
}

.table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: ($half-spacing-unit * 1.5) 0;
}

.table-row {
    display: flex;
    width: 100%;
    padding: ($half-spacing-unit * 1.5) 0;

    &:nth-of-type(odd) {
        background: $color-form-highlight;
    }
}

.table-content {
    height: 50%;
    max-height: 60vh;
}

.table-data,
.header__item {
    width: 50px;
    flex: 1 1 20%;
    text-align: center;
    padding: 10px 10px;
}

.header__item {
    text-transform: uppercase;
}

.filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: $base-spacing-unit;
    padding-right: $base-spacing-unit;

    &::after {
        content: '';
        position: absolute;
        right: -($half-spacing-unit * 1.5);
        color: white;
        font-size: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.white-panel h1 {
    font-size: 1em;
}

.white-panel h1 a {
    color: #A92733;
}

.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.modal {
    max-height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Modal {
    background-color: rgba(0, 0, 0, 0.322) !important;
    max-width: calc(100vw);
    max-height: calc(var(--window-height)) !important;
}

.modal-content {
    border: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: unset !important;
}

.modal-body {
    padding: 5%;
    background-color: white;
}

.modal-body img {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-open {
    position: relative;
}

.close {
    margin: 50px;
    cursor: pointer;
    font-size: 30px;
    color: black !important;
    opacity: unset !important;
}

@media only screen and (max-width: 715px) {
    .table-container {
        position: relative;
    }

    .table {
        width: 100%;
        padding-left: unset;
        padding-right: unset;
    }

    .table-header {
        font-size: 2vw;
    }

    .table-content {
        font-size: 2vw;
    }
}

.ProductForm__AddToCart{
    display: inline-block !important;
}
.Button--half {
    width: 49%;
}
.spiff-spinner-outer {
    animation: rotator 1s linear infinite;
}

.spiff-spinner-inner {
    stroke-dasharray: 45 180;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Cart_Container {
    height: max(100% - var(--header-height), 100% - 60px);
        max-height: max(100% - var(--header-height), 100% - 100px);
}

.Cart_Clear {
    margin-left: 145px;
}

@media screen and (max-width: 640px) {
    /*
        ** MOBILE MODE
    */

    #shopify-section-product-template+.shopify-section--bordered {
        border-top: 0;
    }

    #shopify-section-product-template+.shopify-section--bordered.Section {
        padding-top: 0;
    }

    .RelatedProductsWrapper {
    margin: 20px 20px;
    }

    .RelatedProductsHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .ViewAllBtn {
        font-size: 14px;
        color: #007bff;
        text-decoration: none;
        font-weight: 600;
    }

    .RelatedProductsSlider {
        display: flex;
        gap: 15px;

        gap: 4rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 10px;
    }

    .RelatedProductsSlider::-webkit-scrollbar {
        height: 6px;
    }
    .RelatedProductsSlider::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 3px;
    }

    .ProductCard {
        flex: 0 0 auto;
        width: 180px; /* Adjust for your layout */
        scroll-snap-align: start;
        border: 1px solid #eee;
        border-radius: 10px;
        padding: 10px;
        background: #fff;
    }

    .ProductImageWrapper {
        position: relative;
        width: 100%;
        padding-bottom: calc(100% / var(--aspect-ratio, 1));
        overflow: hidden;
        border-radius: 8px;
    }

    .ProductImageWrapper img {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .ProductInfo {
        margin-top: 8px;
        text-align: center;
    }

    .ProductPrice {
        font-size: 14px;
        margin-top: 5px;
    }

    .PriceDiscounted {
        font-weight: bold;
        color: red;
    }
    .PriceOriginal {
        font-size: 12px;
        color: #777;
    }
    .PriceOff {
        font-size: 12px;
        color: red;
        margin-left: 5px;
    }


    .Cart_Container {
        height: max(100% - var(--header-height), 100% - 60px);
            max-height: max(100% - var(--header-height), 100% - 90px);
    }

    .Cart_Clear {
        margin-left: 80px;
    }
}

.Drawer__Content_Livewire {
    height: calc(100% - var(--header-height));
        max-height: calc(100% - var(--header-height))
}

.Product__ActionList {
        visibility: hidden;
    }


@media screen and (max-width: 1007px) and (min-width: 640px){
    /*
        ** TAB MODE
    */
    .Product__ActionList {
        visibility: hidden;
    }

     .ProductCard {
        flex: 0 0 auto;
        width: 180px; /* Adjust for your layout */
        scroll-snap-align: start;
        border: 1px solid #eee;
        border-radius: 10px;
        padding: 10px;
        background: #fff;
    }
}



