.grid-flow {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.Header__Wrapper {
    background-color: black;
}

.Header__FlexItem {
    color: white;
}

.shopify-section--header {
    top: unset !important;
    position: relative !important;
}

.main-heading-text{
    color: white !important;

}

#main {
    margin-top: unset !important;
}

.Search__Form {
    margin-bottom: unset;
}
/*
.DropdownMenu{
    background: white;
} */
/* Customize the label (the Check__Box__Container) */
.Check__Box__Container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .Check__Box__Container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .Checkmark_Container {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .Check__Box__Container:hover input ~ .Checkmark_Container {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .Check__Box__Container input:checked ~ .Checkmark_Container {
    background-color: #2196F3;
  }

  /* Create the Checkmark_Container/indicator (hidden when not checked) */
  .Checkmark_Container:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the Checkmark_Container when checked */
  .Check__Box__Container input:checked ~ .Checkmark_Container:after {
    display: block;
  }

  /* Style the Checkmark_Container/indicator */
  .Check__Box__Container .Checkmark_Container:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
